<div
  class="fluid-engine fe-669e9f97040ba14de356824e"
  id="yui_3_17_2_1_1733481011920_71"
>
  <div class="row">
    <div class="col-4">
      <div
        class="fe-block fe-block-f31f0f7977dabc7b7fb4"
        id="yui_3_17_2_1_1733481011920_70"
      >
        <div
          class="sqs-block image-block sqs-block-image sqs-stretched sqs-text-ready"
          data-block-type="5"
          id="block-f31f0f7977dabc7b7fb4"
        >
          <div
            class="sqs-block-content"
            id="yui_3_17_2_1_1733481011920_69"
            style="height: 100%; width: 100%"
          >
            <div
              class="image-block-outer-wrapper layout-caption-below design-layout-fluid image-position-center combination-animation-site-default individual-animation-site-default animation-loaded"
              data-test="image-block-fluid-outer-wrapper"
              id="yui_3_17_2_1_1733481011920_68"
            >
              <div
                class="fluid-image-animation-wrapper sqs-image sqs-block-alignment-wrapper preFade fadeIn"
                data-animation-role="image"
                id="yui_3_17_2_1_1733481011920_67"
                style="
                  transition-timing-function: ease;
                  transition-duration: 0.9s;
                  transition-delay: 0.24s;
                "
              >
                <div
                  class="fluid-image-container sqs-image-content"
                  style="
                    overflow: hidden;
                    mask-image: -webkit-radial-gradient(center, white, black);
                    position: relative;
                    width: 489.41px;
                    height: 100%;
                  "
                  id="yui_3_17_2_1_1733481011920_66"
                >
                  <div class="content-fit" id="yui_3_17_2_1_1733481011920_65">
                    <img
                      data-stretch="false"
                      data-src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg"
                      data-image="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg"
                      data-image-dimensions="3816x6534"
                      data-image-focal-point="0.5,0.5"
                      alt=""
                      data-load="false"
                      elementtiming="system-image-block"
                      src="https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg"
                      width="200"
                      height="800"
                      sizes="(max-width: 640px) 100vw, (max-width: 767px) 100vw, 45.83333333333333vw"
                      style="
                        display: block;
                        object-fit: contain;
                        object-position: 50% 50%;
                      "
                      srcset="
                        https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg?format=100w   100w,
                        https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg?format=300w   300w,
                        https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg?format=500w   500w,
                        https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg?format=750w   750w,
                        https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg?format=1000w 1000w,
                        https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg?format=1500w 1500w,
                        https://images.squarespace-cdn.com/content/v1/60241cb68df65b530cd84d95/90a5c716-a191-4b46-bafe-6652ff5c5418/mcs_Anxiety1_104.per16.104.jpg?format=2500w 2500w
                      "
                      loading="lazy"
                      decoding="async"
                      data-loader="sqs"
                    />

                    <div class="fluidImageOverlay"></div>
                  </div>
                </div>
              </div>
            </div>
            <style>
              .sqs-block-image .sqs-block-content {
                height: 100%;
                width: 100%;
              }

              .fe-block-f31f0f7977dabc7b7fb4 .fluidImageOverlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                mix-blend-mode: normal;

                opacity: 0;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br />
      <div
        class="fe-block fe-block-fa41f8a3ef0a2f731383"
        style="mix-blend-mode: normal"
      >
        <div
          class="sqs-block html-block sqs-block-html"
          data-blend-mode="NORMAL"
          data-block-type="2"
          data-border-radii='{"topLeft":{"unit":"px","value":0.0},"topRight":{"unit":"px","value":0.0},"bottomLeft":{"unit":"px","value":0.0},"bottomRight":{"unit":"px","value":0.0}}'
          id="block-fa41f8a3ef0a2f731383"
        >
          <div class="sqs-block-content">
            <div class="sqs-html-content">
              <h1
                style="
                  text-align: center;
                  white-space: pre-wrap;
                  transition-timing-function: ease;
                  transition-duration: 0.9s;
                  transition-delay: 0.257143s;
                "
                class="preFade fadeIn"
              >
                <strong>It’s a 404 Error!</strong>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div
        class="fe-block fe-block-999af850d2eff41a6999"
        style="mix-blend-mode: normal"
      >
        <div
          class="sqs-block html-block sqs-block-html"
          data-blend-mode="NORMAL"
          data-block-type="2"
          data-border-radii='{"topLeft":{"unit":"px","value":0.0},"topRight":{"unit":"px","value":0.0},"bottomLeft":{"unit":"px","value":0.0},"bottomRight":{"unit":"px","value":0.0}}'
          id="block-999af850d2eff41a6999"
        >
          <div class="sqs-block-content">
            <div class="sqs-html-content">
              <p
                style="
                  text-align: center;
                  white-space: pre-wrap;
                  transition-timing-function: ease;
                  transition-duration: 0.9s;
                  transition-delay: 0.274286s;
                "
                class="sqsrte-small preFade fadeIn"
              >
                Don’t worry, no one even knows what “404” <em>means.</em>
                <br />But don’t fret, everything is gonna be OK.
              </p>
              <p
                style="
                  text-align: center;
                  white-space: pre-wrap;
                  transition-timing-function: ease;
                  transition-duration: 0.9s;
                  transition-delay: 0.291429s;
                "
                class="sqsrte-small preFade fadeIn"
              >
                Just hit that back arrow that’s somewhere up top?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
